@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Tilt+Warp&display=swap');


.nav li{
    display: inline;
    padding: 50px;
    margin-left: 4%;
    
    
   
   
}
.nav li a {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}
body{
    background-color: rgb(7, 17, 32);
}
.nav{
    border: 1.57px solid ;
    background-color: rgb(190, 243, 247);
    width: auto;


}
h1{
        text-align: center;

    color: rgb(223, 223, 114);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10;
    padding-right: 40%;
    margin-left: 20px;
    background-image: url(Banking.jpg);
    width: 100%;
    padding-top: 2%;
    




}
image{
    border: 2px solid black;
}  
.nav a{
    text-decoration: none;
    
}
    
