@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Tilt+Warp&display=swap');


.nav li{
    display: inline;
    padding: 50px;
    margin-left: 4%;
   
   
}
.nav{
    border: 1.25px solid black;
    background-color: rgb(227, 228, 228);
    width: auto;


}
h1{
   
    text-align: center;
    



padding: 20%;
font-weight: 50;
background-image: url(Banking.jpg);
background-size: auto;

}
.nav a{
    text-decoration: none;
    
}